<div class="indexcontainer">

    <div class="searchform">
      <h1>Find your next developer</h1>
      <hr>
      <div class="formscontainer">
        <%= search_form_for @search do |f|%>
          <div class="form-group">
            <label class="formlabel" for="skill">Search skill:</label>
            <%= f.text_field :bio_or_whatAmI_cont, class: "form-control custom", id: "skill", placeholder: "e.g. Ruby Developer" %>
          </div>
          <div class="form-group">
            <label class="formlabel" for="skill">Minimum years of experience:</label>
            <%= f.text_field :experiance_gt, class: "form-control custom", placeholder: "e.g. 2 Years" %>
          </div>
          <div class="universitylist">
            <%= f.select :educations_university_eq, @universities, :include_blank => "Any University" ,:prompt => "Select university" %>
          </div>
      </div>
      <hr>
      <div class="aofexpertise">
        <%= f.label "Area of Expertise", class: "formlabel" %><br>
          <%= f.collection_check_boxes :expertises_id_in_any, Expertise.all, :id, :name do |b| %>
          <div class="collection_check_boxes">
            <li>
              <%= b.check_box %>
              <%= b.label %>
            </li>
          </div>
        <% end %>
      </div>
      <div class="aofcity">
      <hr>
        <%= f.label "City searching for developer", class: "formlabel" %><br><br>
        <%= f.collection_check_boxes :cities_id_in_any, City.all, :id, :name do |b| %>
          <div class="collection_check_boxes">
            <li>
              <%= b.check_box %>
              <%= b.label %>
            </li>
          </div>
        <% end %>
      </div>
      <div class="submitbutton">
        <hr>
        <div class="buttonpos">
          <%= f.submit "Search", class: "btn btn-primary btn-lg btn-border custom" %>
        </div>
      </div>
      <% end %>
    </div>


  <div class="profilescontainer" data-no-turbolink="true">
    <% @profiles.each do |profile| %>
      <div class="eachprofile">
        <aside class="profile-card">
          <header>
            <%= link_to profile do %>
              <%= image_tag profile.image.url(:medium) %>
            <% end %>
            <h1><%= profile.name %></h1>
            <h2><%= profile.whatAmI %></h2>
          </header>
          <div class="profile-bio">

          </div>
        </aside>
      </div>
    <% end %>
    <%= will_paginate @profiles %>
  </div>

</div>
