<div class="profileHeader">
  <h4 class="textfont views"><%= @profile.impressionist_count %> <i class="fa fa-eye"></i></h4>
  <div class="imageContainer">
    <%= image_tag @profile.image.url(:medium), id: "headshot", class: "imagepos" %>
  </div>
  <div class="infoContainer">
    <br>
    <h4 class="textfont"><%= "Score: #{@profile.score}" %></h4>
    <h1 class="textfont"><%= @profile.name %></h1><hr>
    <h2 class="textfont">Ruby on Rails Developer</h2>
    <h4 class="textfont"><%= @profile.all_skills %></h4><hr>
  </div>
  <div class="sociallinks">
    <h2 style= "text-align: center;">
      <%= link_to ("http://#{@profile.TwitterLink}"),{style: "color: #AEA8D3"} do %>
        <i class="fa fa-twitter fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <% end %>
      <%= link_to ("http://#{@profile.GithubLink}"),{style: "color: #AEA8D3"} do %>
        <i class="fa fa-github fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <% end %>
      <%= link_to ("http://#{@profile.StackLink}"),{style: "color: #AEA8D3"} do %>
        <i class="fa fa-stack-overflow fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <% end %>
      <%= link_to ("http://#{@profile.DribbbleLink}"),{style: "color: #AEA8D3"} do %>
        <i class="fa fa-dribbble fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <% end %>
      <%= link_to ("http://#{@profile.MediumLink}"),{style: "color: #AEA8D3"} do %>
        <i class="fa fa-medium fa-2x"></i>
      <% end %>
    </h2>
  </div>
</div>

<div class="summary">
  <h1>Summary</h1>
  <hr>
  <div class="summarybox">
    <p class=""><i><%= @profile.bio %></i></p>
  </div>
</div>

<div class="secondContainer">
  <div class="educationsContainer">
    <h1>Education</h1>
    <div class="eacheducation">
      <% @profile.educations.each do |education| %>
          <h3><b><%= education.university %> - <%= education.finishdate.year %></b></h3>
          <h4><%= education.level %> in <%= education.course %></h4>
          <hr>
      <% end %>
    </div>
  </div>
  <div class="preferenceContainer">
    <h1>Job Preferences</h1>
    <div class="eachPreferences">
      <% if @profile.willingToRelocate == true %>
        <h4><%= @profile.name %> is willing to relocate</h4>
      <% else %>
        <h4><%= @profile.name %> is not willing to relocate</h4>
      <% end %><hr>
      <% if @profile.workAbroad == true %>
        <h4><%= @profile.name %> is willing to work abroad</h4>
      <% else %>
        <h4><%= @profile.name %> is not willing to work abroad</h4>
      <% end %><hr>
      <h4>Expecting a salary of: £<%= @profile.salary %> </h4><hr>
      <h4>Prefer to work in these locations:</h4>
      <div class="eachcity">
        <% @profile.cities.each do |city| %>
          <li>
            <h4><i class="fa fa-check"></i>&nbsp;<span><%= city.name %></span></h4>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="portfolioContainer">
  <% @profile.portfolios.each do |portfolio| %>
    <li>
      <%= image_tag portfolio.picture.url(:medium) %>
      <%= portfolio.description %>
    </li>
  <% end %>
</div>

<%= @profile.experiance %><br>

<div class="workContainer">
  <% @profile.works.each do |work| %>
    <li>
      <%= work.companyName %>
      <%= work.position %>
      <%= work.startDate %>
      <%= work.finishDate %>
      <%= work.workDescription %>
    </li>
  <% end %>
</div>

<p>
  <strong>User:</strong>
  <%= @profile.user.email %>
</p>

<p>
  <strong>phone:</strong>
  <%= @profile.phone %>
</p>

<strong>Expertise</strong>
<% @profile.expertises.each do |e| %>
  <li>
    <%= e.name %>
  </li>
<% end %>

<% unless @profile.user.github_profile.nil? %>
<div>
    <h4>From: <%= @profile.user.github_profile.location %></h4>
    <h4>Public Repos: <%= @profile.user.github_profile.public_repo %></h4>
    <h4>Public Gists: <%= @profile.user.github_profile.public_gists %></h4>
    <h4>Followers: <%= @profile.user.github_profile.followers %></h4>
    <h4>Following: <%= @profile.user.github_profile.following %></h4>
    <h4>Member Since: <%= Date.parse @profile.user.github_profile.member_since %></h4>
  </div>

  <h1>Public Repositories</h1>

  <ul>
    <% @repositories.each do |repo| %>
      <li>
        <p><b><%= repo[:name].capitalize %></b>: <i><%= repo[:description].capitalize %></i> <b>[Watchers: <%= repo[:watchers] %>, Forks: <%= repo[:forks]%>, Stargazers: <%= repo[:stargazers_count] %>]</b></p>
      </li>
    <% end %>
  </ul>
<% end %>

<% if recruiter_signed_in? %>
  <%- unless current_recruiter.favorite_profiles.exists?(id: @profile.id) -%>
    <%= link_to 'Add to favorites', favorite_profiles_path(profile_id: @profile), method: :post %>
  <%- else -%>
    <%= link_to 'Remove from favorites', favorite_profile_path(@profile), method: :delete %>
  <%- end -%>
<% end %>
