<div class="profileHeader">
  <h4 class="textfont views"><%= @profile.impressionist_count %> <i class="fa fa-eye"></i></h4>
  <div class="imageContainer">
    <%= image_tag @profile.image.url(:medium), id: "headshot", class: "imagepos" %>
  </div>
  <div class="infoContainer">
    <br>
    <h4 class="textfont"><%= "Score: #{@profile.score}" %></h4>
    <h1 class="textfont"><%= @profile.name %></h1><hr>
    <h2 class="textfont"><%= @profile.whatAmI %></h2>
    <h4 class="textfont"><%= @profile.all_skills %></h4><hr>
  </div>
  <div class="sociallinks">
    <h2 style= "text-align: center;">
      <%= link_to ("http://#{@profile.TwitterLink}"),{style: "color: #AEA8D3"} do %>
        <i class="fa fa-twitter fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <% end %>
      <%= link_to ("http://#{@profile.GithubLink}"),{style: "color: #AEA8D3"} do %>
        <i class="fa fa-github fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <% end %>
      <%= link_to ("http://#{@profile.StackLink}"),{style: "color: #AEA8D3"} do %>
        <i class="fa fa-stack-overflow fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <% end %>
      <%= link_to ("http://#{@profile.DribbbleLink}"),{style: "color: #AEA8D3"} do %>
        <i class="fa fa-dribbble fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <% end %>
      <%= link_to ("http://#{@profile.MediumLink}"),{style: "color: #AEA8D3"} do %>
        <i class="fa fa-medium fa-2x"></i>
      <% end %>
    </h2>
  </div>
</div>

<div class="summary">
  <h1>Summary</h1>
  <hr>
  <div class="summarybox">
    <p class=""><i><%= @profile.bio %></i></p>
  </div>
</div>

<div class="secondContainer">
  <div class="educationsContainer">
    <h1>Education</h1>
    <div class="eacheducation">
      <% @profile.educations.each do |education| %>
          <h3><i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;<b><%= education.university %> - <%= education.finishdate.year %></b></h3>
          <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= education.level %> in <%= education.course %> <%= education.degreetype %></h4>
          <hr>
      <% end %>
    </div>
  </div>
  <div class="preferenceContainer">
    <h1>Job Preferences</h1>
    <div class="eachPreferences">
      <% if @profile.willingToRelocate == true %>
        <h4><i class="fa fa-map-marker"></i>&nbsp;&nbsp;<%= @profile.name %> is willing to relocate</h4>
      <% else %>
        <h4><i class="fa fa-map-marker"></i>&nbsp;&nbsp;<%= @profile.name %> is not willing to relocate</h4>
      <% end %><hr>
      <% if @profile.workAbroad == true %>
        <h4><i class="fa fa-plane"></i>&nbsp;&nbsp;<%= @profile.name %> is willing to work abroad</h4>
      <% else %>
        <h4><i class="fa fa-plane"></i>&nbsp;&nbsp;<%= @profile.name %> is not willing to work abroad</h4>
      <% end %><hr>
      <h4><i class="fa fa-gbp"></i>&nbsp;&nbsp;Expecting a salary of: £<%= @profile.salary %> </h4><hr>
      <h4>Prefer to work in these locations:</h4>
      <div class="eachcity">
        <% @profile.cities.each do |city| %>
          <li>
            <h4><i class="fa fa-check"></i>&nbsp;<span><%= city.name %></span></h4>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="portfolioContainer">
  <h1><b>My Portfolio</b></h1>
  <hr>
  <div class="eachportfolio">
    <% @profile.portfolios.each do |portfolio| %>
      <article class="caption">
        <%= image_tag portfolio.picture.url,:size => "300x300", class: "caption__media img" %>
          <div class="caption__overlay">
            <p class="caption__overlay__content">
              <%= portfolio.description %>
            </p>
          </div>
      </article>
    <% end %>
  </div>
</div>

<div class="workContainer">
  <h1><b>Work Experience</b></h1>
  <h4><%= @profile.name %> has <%= @profile.experiance %> experience</h4>
  <div class="eachworks">
    <% @profile.works.each do |work| %>
      <h3><i class="fa fa-briefcase">&nbsp;&nbsp;</i><b><%= work.companyName %></b>
        <span class="date">&nbsp;&nbsp;<%= work.startDate.month %>/<%= work.startDate.year %> - <%= work.finishDate.month %>/<%= work.finishDate.year %></span></h3>
      <h4><b><%= work.position %></b></h4>
      <p><%= work.workDescription %></p>
      <hr>
    <% end %>
  </div>
</div>

<% unless @profile.user.github_profile.nil? %>
  <div class="githubContainer">
    <h1><span class="icon"><i class="fa fa-github fa-1x"></i></span>&nbsp;<b>Github Profile</b></h1>
    <div class="publicrepos">
      <% @repositories.each do |repo| %>
        <%= link_to repo[:html_url] do %>
          <div class="repo">
            <b><h4><%= h truncate(repo[:name].upcase, :length => 20) %></h4></b>
            <h5><i class="fa fa-code-fork"></i> <%= repo[:forks]%>&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i> <%= repo[:watchers] %> <span style="float:right; color:#AEA8D3;"><%= repo[:language] %> </span></h5>
            <hr>
            <p><%= h truncate(repo[:description], :length => 200) %><span style="float:right; color:#AEA8D3;">View source code</span></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="contactContainer">
  <% if recruiter_signed_in? %>
    <% if !@joined %>
      <h4>You can contact your relevant candidates for just £1 per contact.<br> There are no subscriptions or up-front fees.</h4>
      <%= form_tag pay_path, id:"chargeForm" do %>
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <%= hidden_field_tag 'stripeToken' %>
        <%= hidden_field_tag 'stripeEmail' %>
        <%= hidden_field_tag 'profile_id', @profile.id %>
        <button id="customButton" class="btn btn-primary btn-lg btn-border custom">Purchase £1</button>
        <script>
        var handler = StripeCheckout.configure({
          key: 'pk_test_o9FMz5iI1OrU4H0mNewJrF5P',
          image: '/img/documentation/checkout/marketplace.png',
          locale: 'auto',
          token: function(token, arg) {
            $('#stripeToken').val(token.id);
            $('#stripeEmail').val(token.email);
            $('#chargeForm').submit();
          }
        });
        $('#customButton').on('click', function(e) {
          // Open Checkout with further options
          handler.open({
            name: 'Ulearnr',
            description: '2 widgets',
            currency: "gbp",
            amount: '<%= @amount %>'
          });
          e.preventDefault();
        });
        </script>
      <% end %>
    <% else %>
      <button type="button" class="btn btn-primary btn-lg btn-border custom" data-toggle="modal" data-target="#myModal">
      View Contacts
      </button>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><%= @profile.name %> Contacts</h4>
          </div>
          <div class="modal-body">
            <p>
              Get in touch with <%= @profile.name %> using the following methods:
            </p><br>
            <div class="">
              <p>
                Email: <span class="dets"><b><%= @profile.user.email %></b><br></span>
                Contact number: <b><%= @profile.phone %></b>
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      </div>
    <% end %>
  <% end %>
  <br>
  <% if recruiter_signed_in? %>
    <%- unless current_recruiter.favorite_profiles.exists?(id: @profile.id) -%>
      <%= link_to 'Add to favorites', favorite_profiles_path(profile_id: @profile), method: :post %>
    <%- else -%>
      <%= link_to 'Remove from favorites', favorite_profile_path(@profile), method: :delete %>
    <%- end -%>
  <% end %>

</div>




<script type="text/javascript">
$('.cd-trigger').on('click', function(event){

$('.cd-quick-view').css({
    "top": topSelected, // this is the selected image top value
    "left": leftSelected, // this is the selected image left value
    "width": widthSelected, // this is the selected image width
}).velocity({
  //animate the quick view: animate its width and center it in the viewport
  //during this animation, only the slider image is visible
    'width': sliderFinalWidth+'px',
    'left': finalLeft+'px', // ($(window).width - sliderFinalWidth)/2,
    'top': finalTop+ 'px', // ($(window).height - slider final height)/2,
}, 1000, [ 400, 20 ])
.velocity({
  'width': quickViewWidth+'px', // 80% of the viewport
  'left': quickViewLeft+'px', // 10% of the viewport
}, 300, 'ease' ,function(){
  //show quick view content
  $('.cd-quick-view').addClass('add-content');
}).addClass('is-visible');

//assign .overlay-layer class to the body, assign the .empty-box class to the selected .cd-item
//...

});
</script>
