<p id="notice"><%= notice %></p>

<%= "#{@profile.impressionist_count} views so far!" %>
<!-- if recruiter_signed_in show this -->
<p>
<%= "Score:#{@profile.score}" %>
</p>

<p>
  <strong>avatar</strong>
  <%= image_tag @profile.image.url(:medium) %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user.email %>
</p>

<p>
  <strong>name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>experiance:</strong>
  <%= @profile.experiance %>
</p>

<p>
  <strong>willingToRelocate:</strong>
  <%= @profile.willingToRelocate %>
</p>

<p>
  <strong>salary:</strong>
  <%= @profile.salary %>
</p>

<p>
  <strong>workAbroad:</strong>
  <%= @profile.workAbroad %>
</p>

<p>
  <strong>TwitterLink:</strong>
  <%= @profile.TwitterLink %>
</p>

<p>
  <strong>GithubLink:</strong>
  <%= @profile.GithubLink %>
</p>

<p>
  <strong>StackLink:</strong>
  <%= @profile.StackLink %>
</p>

<p>
  <strong>DribbbleLink:</strong>
  <%= @profile.DribbbleLink %>
</p>

<p>
  <strong>MediumLink:</strong>
  <%= @profile.MediumLink %>
</p>

<p>
  <strong>Skills</strong>
  <%= @profile.all_skills %>
</p>

<p>
  <strong>educations</strong>
  <% @profile.educations.each do |education| %>
    <li>
      <%= education.university %>
      <%= education.course %>
      <%= education.level %>
      <%= education.finishdate %>
    </li>
  <% end %>
</p>

<p>
  <strong>Work Experiance</strong>
  <% @profile.works.each do |work| %>
    <li>
      <%= work.companyName %>
      <%= work.position %>
      <%= work.startDate %>
      <%= work.finishDate %>
      <%= work.workDescription %>
    </li>
  <% end %>
</p>

<strong>Portfolio</strong>
<% @profile.portfolios.each do |portfolio| %>
  <li>
    <%= image_tag portfolio.picture.url(:medium) %>
    <%= portfolio.description %>
  </li>
<% end %>

<strong>Expertise</strong>
<% @profile.expertises.each do |e| %>
  <li>
    <%= e.name %>
  </li>
<% end %>

<strong>Cities you want to work</strong>
<% @profile.cities.each do |city| %>
  <li>
    <%= city.name %>
  </li>
<% end %>

<% if recruiter_signed_in? %>
  <%- unless current_recruiter.favorite_profiles.exists?(id: @profile.id) -%>
    <%= link_to 'Add to favorites', favorite_profiles_path(profile_id: @profile), method: :post %>
  <%- else -%>
    <%= link_to 'Remove from favorites', favorite_profile_path(@profile), method: :delete %>
  <%- end -%>
<% end %>
