<head>
  <style media="screen">
    .mainContainer{
      height: 680px;
      width: 100%;
      background-color: #674172;
    }
    h1{
      font-family: 'Comfortaa', cursive;
      color: white;
      text-align: center;
      padding-top: 70px;
    }
    h3{
      font-family: 'Comfortaa', cursive;
      color: white;
      text-align: center;
      padding-top: 40px;
    }
    .formfields{
      padding-top: 40px;
      width: 50%;
      margin: auto;
    }

    .customf{
      font-family: 'Comfortaa', cursive;
      font-size: 12px;
      border-radius: 0;
    }

    .sbutton{
      width: 27%;
      margin: auto;
      padding-top: 20px;
    }
    .custombtn{
      width: 140px;
      border-radius: 0;
      font-family: 'Comfortaa', cursive;
      color: #674172;
      background-color: white;
      outline-color: #674172;
    }
  </style>
</head>

<div class="mainContainer">
  <h1>Developer Sign up</h1>
  <h3>Sign up and create your profile and start getting job offers</h3>
  <div class="formfields">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
    <%= devise_error_messages! %>
      <div class="">
        <%= f.email_field :email, class: "form-control customf", placeholder: "NAME@EXAMPLE.COM" %>
      </div><br>
      <div class="">
          <%= f.password_field :password, autocomplete: "off", class: "form-control customf", placeholder: "STRONG PASSWORD" %>
      </div><br>
      <div class="">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control customf", placeholder: "CONFIRM STRONG PASSWORD" %>
      </div>
      <div class="sbutton">
          <%= f.submit "Sign up", class: "btn btn-primary btn-lg btn-border custombtn" %>
      </div>
    <% end %>
  </div>


  <div class="socialcontainer">

  </div>
</div>
